<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/earth.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Travel Site | {{title}}</title>
</head>

<body>
    {{>header}}
    <main>
        <div class="about">
            <p>This website created by Nadav Cohen as part of 'Computer Technologies' course. In this
                website you can see our default top 5 favorite places to travel to, and also add/remove locations
                dynamically to the List yourself!. This website support MongoDB connection which keep the data
                even when your not around.</p>
        </div>
    </main>
    {{>footer}}
</body>

</html>