<header>
    <div class="logo">
        <h1>Travel Site</h1>
    </div>
    <div class="links">
        <a class="{{#if (isEqual active 'index')}} active {{/if}}" href="/">home</a>
        <a class="{{#if (isEqual active 'addLocation')}} active {{/if}}" href="/addLocation">add location</a>
    </div>
</header>