<!-- The Modal -->
<div class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <h3></h3>
        </div>
    </div>
</div>